In [1]:
from sklearn import preprocessing
import pandas as pd
import numpy as np

In [2]:
NBA_FILE_PATH = 'Downloads/NBA_player_of_the_week.csv'
# 소수점 5번째 자리까지만 출력되도록 설정
pd.set_option('display.float_format', lambda x: '%.5f' % x)
    
nba_player_of_the_week_df = pd.read_csv(NBA_FILE_PATH)

In [3]:
height_weight_age_df = nba_player_of_the_week_df[['Height CM','Weight KG','Age']]

In [4]:
scaler = preprocessing.StandardScaler()
standardized_data = scaler.fit_transform(height_weight_age_df)

In [5]:
standardized_df = pd.DataFrame(standardized_data, columns =['Height', 'Weight', 'Age'] )

In [6]:
standardized_df.describe()

          Height     Weight        Age
count 1340.00000 1340.00000 1340.00000
mean    -0.00000   -0.00000   -0.00000
std      1.00037    1.00037    1.00037
min     -2.78410   -2.38357   -2.27629
25%     -0.86194   -0.59862   -0.80545
50%     -0.00765   -0.17024   -0.21711
75%      0.73986    0.82934    0.66539
max      2.98237    3.25687    3.90124